{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://dms.amazonaws.com/"
        },
        {
            "url": "http://dms.amazonaws.com/"
        }
    ],
    "x-hasEquivalentPaths": true,
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": "<fullname>AWS Database Migration Service</fullname> <p>AWS Database Migration Service (AWS DMS) can migrate your data to and from the most widely used commercial and open-source databases such as Oracle, PostgreSQL, Microsoft SQL Server, Amazon Redshift, MariaDB, Amazon Aurora, MySQL, and SAP Adaptive Server Enterprise (ASE). The service supports homogeneous migrations such as Oracle to Oracle, as well as heterogeneous migrations between different database platforms, such as Oracle to MySQL or SQL Server to PostgreSQL.</p> <p>For more information about AWS DMS, see <a href=\"http://docs.aws.amazon.com/dms/latest/userguide/Welcome.html\">What Is AWS Database Migration Service?</a> in the <i>AWS Database Migration User Guide.</i> </p>",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "AWS Database Migration Service",
        "version": "2016-01-01",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/dms-2016-01-01.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "dms"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://aws.amazon.com/dms/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Adds metadata tags to an AWS DMS resource, including replication instance, endpoint, security group, and migration task. These tags can also be used with cost allocation reporting to track cost associated with DMS resources, or used in a Condition statement in an IAM policy for DMS.",
                "operationId": "AddTagsToResource",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "<p/>",
                                    "example": {},
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ResourceNotFoundFault",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "<p/>",
                                "example": {
                                    "ResourceArn": "arn:aws:dms:us-east-1:123456789012:endpoint:ASXWXJZLNWNT5HTWCGV2BUJQ7E",
                                    "Tags": [
                                        {
                                            "Key": "Acount",
                                            "Value": "1633456"
                                        }
                                    ]
                                },
                                "properties": {
                                    "ResourceArn": {
                                        "description": "The Amazon Resource Name (ARN) of the AWS DMS resource the tag is to be added to. AWS DMS resources include a replication instance, endpoint, and a replication task.",
                                        "type": "string"
                                    },
                                    "Tags": {
                                        "description": "The tag to be assigned to the DMS resource.",
                                        "items": {
                                            "description": "<p/>",
                                            "properties": {
                                                "Key": {
                                                    "description": "A key is the required name of the tag. The string value can be from 1 to 128 Unicode characters in length and cannot be prefixed with \"aws:\" or \"dms:\". The string can only contain only the set of Unicode letters, digits, white-space, '_', '.', '/', '=', '+', '-' (Java regex: \"^([\\\\p{L}\\\\p{Z}\\\\p{N}_.:/=+\\\\-]*)$\").",
                                                    "type": "string"
                                                },
                                                "Value": {
                                                    "description": "A value is the optional value of the tag. The string value can be from 1 to 256 Unicode characters in length and cannot be prefixed with \"aws:\" or \"dms:\". The string can only contain only the set of Unicode letters, digits, white-space, '_', '.', '/', '=', '+', '-' (Java regex: \"^([\\\\p{L}\\\\p{Z}\\\\p{N}_.:/=+\\\\-]*)$\").",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "ResourceArn",
                                    "Tags"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreateEndpoint": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Creates an endpoint using the provided settings.",
                "operationId": "CreateEndpoint",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "<p/>",
                                    "example": {
                                        "Endpoint": {
                                            "EndpointArn": "arn:aws:dms:us-east-1:123456789012:endpoint:RAAR3R22XSH46S3PWLC3NJAWKM",
                                            "EndpointIdentifier": "test-endpoint-1",
                                            "EndpointType": "source",
                                            "EngineName": "mysql",
                                            "KmsKeyId": "arn:aws:kms:us-east-1:123456789012:key/4c1731d6-5435-ed4d-be13-d53411a7cfbd",
                                            "Port": 3306,
                                            "ServerName": "mydb.cx1llnox7iyx.us-west-2.rds.amazonaws.com",
                                            "Status": "active",
                                            "Username": "username"
                                        }
                                    },
                                    "properties": {
                                        "Endpoint": {
                                            "description": "The endpoint that was created.",
                                            "properties": {
                                                "CertificateArn": {
                                                    "description": "The Amazon Resource Name (ARN) used for SSL connection to the endpoint.",
                                                    "type": "string"
                                                },
                                                "DatabaseName": {
                                                    "description": "The name of the database at the endpoint.",
                                                    "type": "string"
                                                },
                                                "DmsTransferSettings": {
                                                    "description": "<p>The settings in JSON format for the DMS transfer type of source endpoint. </p> <p>Possible attributes include the following:</p> <ul> <li> <p> <code>serviceAccessRoleArn</code> - The IAM role that has permission to access the Amazon S3 bucket.</p> </li> <li> <p> <code>bucketName</code> - The name of the S3 bucket to use.</p> </li> <li> <p> <code>compressionType</code> - An optional parameter to use GZIP to compress the target files. To use GZIP, set this value to <code>NONE</code> (the default). To keep the files uncompressed, don't use this value. </p> </li> </ul> <p>Shorthand syntax for these attributes is as follows: <code>ServiceAccessRoleArn=string,BucketName=string,CompressionType=string</code> </p> <p>JSON syntax for these attributes is as follows: <code>{ \"ServiceAccessRoleArn\": \"string\", \"BucketName\": \"string\", \"CompressionType\": \"none\"|\"gzip\" } </code> </p>",
                                                    "properties": {
                                                        "BucketName": {
                                                            "description": " The name of the S3 bucket to use. ",
                                                            "type": "string"
                                                        },
                                                        "ServiceAccessRoleArn": {
                                                            "description": " The IAM role that has permission to access the Amazon S3 bucket. ",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "DynamoDbSettings": {
                                                    "description": "The settings for the target DynamoDB database. For more information, see the <code>DynamoDBSettings</code> structure.",
                                                    "properties": {
                                                        "ServiceAccessRoleArn": {
                                                            "description": " The Amazon Resource Name (ARN) used by the service access IAM role. ",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "ServiceAccessRoleArn"
                                                    ],
                                                    "type": "object"
                                                },
                                                "ElasticsearchSettings": {
                                                    "description": "The settings for the Elasticsearch source endpoint. For more information, see the <code>ElasticsearchSettings</code> structure.",
                                                    "properties": {
                                                        "EndpointUri": {
                                                            "description": "The endpoint for the ElasticSearch cluster.",
                                                            "type": "string"
                                                        },
                                                        "ErrorRetryDuration": {
                                                            "description": "The maximum number of seconds that DMS retries failed API requests to the Elasticsearch cluster.",
                                                            "type": "integer"
                                                        },
                                                        "FullLoadErrorPercentage": {
                                                            "description": "The maximum percentage of records that can fail to be written before a full load operation stops. ",
                                                            "type": "integer"
                                                        },
                                                        "ServiceAccessRoleArn": {
                                                            "description": "The Amazon Resource Name (ARN) used by service to access the IAM role.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "ServiceAccessRoleArn",
                                                        "EndpointUri"
                                                    ],
                                                    "type": "object"
                                                },
                                                "EndpointArn": {
                                                    "description": "The Amazon Resource Name (ARN) string that uniquely identifies the endpoint.",
                                                    "type": "string"
                                                },
                                                "EndpointIdentifier": {
                                                    "description": "The database endpoint identifier. Identifiers must begin with a letter; must contain only ASCII letters, digits, and hyphens; and must not end with a hyphen or contain two consecutive hyphens.",
                                                    "type": "string"
                                                },
                                                "EndpointType": {
                                                    "description": "The type of endpoint.",
                                                    "enum": [
                                                        "source",
                                                        "target"
                                                    ],
                                                    "type": "string"
                                                },
                                                "EngineDisplayName": {
                                                    "description": "The expanded name for the engine name. For example, if the <code>EngineName</code> parameter is \"aurora,\" this value would be \"Amazon Aurora MySQL.\"",
                                                    "type": "string"
                                                },
                                                "EngineName": {
                                                    "description": "The database engine name. Valid values, depending on the EndPointType, include mysql, oracle, postgres, mariadb, aurora, aurora-postgresql, redshift, s3, db2, azuredb, sybase, sybase, dynamodb, mongodb, and sqlserver.",
                                                    "type": "string"
                                                },
                                                "ExternalId": {
                                                    "description": " Value returned by a call to CreateEndpoint that can be used for cross-account validation. Use it on a subsequent call to CreateEndpoint to create the endpoint with a cross-account. ",
                                                    "type": "string"
                                                },
                                                "ExternalTableDefinition": {
                                                    "description": "The external table definition.",
                                                    "type": "string"
                                                },
                                                "ExtraConnectionAttributes": {
                                                    "description": "Additional connection attributes used to connect to the endpoint.",
                                                    "type": "string"
                                                },
                                                "KinesisSettings": {
                                                    "description": "The settings for the Amazon Kinesis source endpoint. For more information, see the <code>KinesisSettings</code> structure.",
                                                    "properties": {
                                                        "MessageFormat": {
                                                            "description": "The output format for the records created on the endpoint. The message format is <code>JSON</code>.",
                                                            "enum": [
                                                                "json"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "ServiceAccessRoleArn": {
                                                            "description": "The Amazon Resource Name (ARN) for the IAM role that DMS uses to write to the Amazon Kinesis data stream.",
                                                            "type": "string"
                                                        },
                                                        "StreamArn": {
                                                            "description": "The Amazon Resource Name (ARN) for the Amazon Kinesis Data Streams endpoint.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "KmsKeyId": {
                                                    "description": "The AWS KMS key identifier that is used to encrypt the content on the replication instance. If you don't specify a value for the <code>KmsKeyId</code> parameter, then AWS DMS uses your default encryption key. AWS KMS creates the default encryption key for your AWS account. Your AWS account has a different default encryption key for each AWS Region.",
                                                    "type": "string"
                                                },
                                                "MongoDbSettings": {
                                                    "description": "The settings for the MongoDB source endpoint. For more information, see the <code>MongoDbSettings</code> structure.",
                                                    "properties": {
                                                        "AuthMechanism": {
                                                            "description": "<p> The authentication mechanism you use to access the MongoDB source endpoint.</p> <p>Valid values: DEFAULT, MONGODB_CR, SCRAM_SHA_1 </p> <p>DEFAULT – For MongoDB version 2.x, use MONGODB_CR. For MongoDB version 3.x, use SCRAM_SHA_1. This attribute is not used when authType=No.</p>",
                                                            "enum": [
                                                                "default",
                                                                "mongodb_cr",
                                                                "scram_sha_1"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "AuthSource": {
                                                            "description": "<p> The MongoDB database name. This attribute is not used when <code>authType=NO</code>. </p> <p>The default is admin.</p>",
                                                            "type": "string"
                                                        },
                                                        "AuthType": {
                                                            "description": "<p> The authentication type you use to access the MongoDB source endpoint.</p> <p>Valid values: NO, PASSWORD </p> <p>When NO is selected, user name and password parameters are not used and can be empty. </p>",
                                                            "enum": [
                                                                "no",
                                                                "password"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "DatabaseName": {
                                                            "description": " The database name on the MongoDB source endpoint. ",
                                                            "type": "string"
                                                        },
                                                        "DocsToInvestigate": {
                                                            "description": "<p> Indicates the number of documents to preview to determine the document organization. Use this attribute when <code>NestingLevel</code> is set to ONE. </p> <p>Must be a positive value greater than 0. Default value is 1000.</p>",
                                                            "type": "string"
                                                        },
                                                        "ExtractDocId": {
                                                            "description": "<p> Specifies the document ID. Use this attribute when <code>NestingLevel</code> is set to NONE. </p> <p>Default value is false. </p>",
                                                            "type": "string"
                                                        },
                                                        "KmsKeyId": {
                                                            "description": "The AWS KMS key identifier that is used to encrypt the content on the replication instance. If you don't specify a value for the <code>KmsKeyId</code> parameter, then AWS DMS uses your default encryption key. AWS KMS creates the default encryption key for your AWS account. Your AWS account has a different default encryption key for each AWS Region.",
                                                            "type": "string"
                                                        },
                                                        "NestingLevel": {
                                                            "description": "<p> Specifies either document or table mode. </p> <p>Valid values: NONE, ONE</p> <p>Default value is NONE. Specify NONE to use document mode. Specify ONE to use table mode.</p>",
                                                            "enum": [
                                                                "none",
                                                                "one"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "Password": {
                                                            "description": " The password for the user account you use to access the MongoDB source endpoint. ",
                                                            "format": "password",
                                                            "type": "string"
                                                        },
                                                        "Port": {
                                                            "description": " The port value for the MongoDB source endpoint. ",
                                                            "type": "integer"
                                                        },
                                                        "ServerName": {
                                                            "description": " The name of the server on the MongoDB source endpoint. ",
                                                            "type": "string"
                                                        },
                                                        "Username": {
                                                            "description": "The user name you use to access the MongoDB source endpoint. ",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "Port": {
                                                    "description": "The port value used to access the endpoint.",
                                                    "type": "integer"
                                                },
                                                "S3Settings": {
                                                    "description": "The settings for the S3 target endpoint. For more information, see the <code>S3Settings</code> structure.",
                                                    "properties": {
                                                        "BucketFolder": {
                                                            "description": " An optional parameter to set a folder name in the S3 bucket. If provided, tables are created in the path &lt;bucketFolder&gt;/&lt;schema_name&gt;/&lt;table_name&gt;/. If this parameter is not specified, then the path used is &lt;schema_name&gt;/&lt;table_name&gt;/. ",
                                                            "type": "string"
                                                        },
                                                        "BucketName": {
                                                            "description": " The name of the S3 bucket. ",
                                                            "type": "string"
                                                        },
                                                        "CompressionType": {
                                                            "description": " An optional parameter to use GZIP to compress the target files. Set to GZIP to compress the target files. Set to NONE (the default) or do not use to leave the files uncompressed. ",
                                                            "enum": [
                                                                "none",
                                                                "gzip"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "CsvDelimiter": {
                                                            "description": " The delimiter used to separate columns in the source files. The default is a comma. ",
                                                            "type": "string"
                                                        },
                                                        "CsvRowDelimiter": {
                                                            "description": " The delimiter used to separate rows in the source files. The default is a carriage return (\\n). ",
                                                            "type": "string"
                                                        },
                                                        "ExternalTableDefinition": {
                                                            "description": " The external table definition. ",
                                                            "type": "string"
                                                        },
                                                        "ServiceAccessRoleArn": {
                                                            "description": " The Amazon Resource Name (ARN) used by the service access IAM role. ",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "ServerName": {
                                                    "description": "The name of the server at the endpoint.",
                                                    "type": "string"
                                                },
                                                "ServiceAccessRoleArn": {
                                                    "description": "The Amazon Resource Name (ARN) used by the service access IAM role.",
                                                    "type": "string"
                                                },
                                                "SslMode": {
                                                    "description": "<p>The SSL mode used to connect to the endpoint.</p> <p>SSL mode can be one of four values: none, require, verify-ca, verify-full. </p> <p>The default value is none.</p>",
                                                    "enum": [
                                                        "none",
                                                        "require",
                                                        "verify-ca",
                                                        "verify-full"
                                                    ],
                                                    "type": "string"
                                                },
                                                "Status": {
                                                    "description": "The status of the endpoint.",
                                                    "type": "string"
                                                },
                                                "Username": {
                                                    "description": "The user name used to connect to the endpoint.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "KMSKeyNotAccessibleFault",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ResourceAlreadyExistsFault",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "ResourceQuotaExceededFault",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "InvalidResourceStateFault",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "ResourceNotFoundFault",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "AccessDeniedFault",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "<p/>",
                                "example": {
                                    "CertificateArn": "",
                                    "DatabaseName": "testdb",
                                    "EndpointIdentifier": "test-endpoint-1",
                                    "EndpointType": "source",
                                    "EngineName": "mysql",
                                    "ExtraConnectionAttributes": "",
                                    "KmsKeyId": "arn:aws:kms:us-east-1:123456789012:key/4c1731d6-5435-ed4d-be13-d53411a7cfbd",
                                    "Password": "pasword",
                                    "Port": 3306,
                                    "ServerName": "mydb.cx1llnox7iyx.us-west-2.rds.amazonaws.com",
                                    "SslMode": "require",
                                    "Tags": [
                                        {
                                            "Key": "Acount",
                                            "Value": "143327655"
                                        }
                                    ],
                                    "Username": "username"
                                },
                                "properties": {
                                    "CertificateArn": {
                                        "description": "The Amazon Resource Name (ARN) for the certificate.",
                                        "type": "string"
                                    },
                                    "DatabaseName": {
                                        "description": "The name of the endpoint database.",
                                        "type": "string"
                                    },
                                    "DmsTransferSettings": {
                                        "description": "<p>The settings in JSON format for the DMS transfer type of source endpoint. </p> <p>Possible attributes include the following:</p> <ul> <li> <p> <code>serviceAccessRoleArn</code> - The IAM role that has permission to access the Amazon S3 bucket.</p> </li> <li> <p> <code>bucketName</code> - The name of the S3 bucket to use.</p> </li> <li> <p> <code>compressionType</code> - An optional parameter to use GZIP to compress the target files. To use GZIP, set this value to <code>NONE</code> (the default). To keep the files uncompressed, don't use this value. </p> </li> </ul> <p>Shorthand syntax for these attributes is as follows: <code>ServiceAccessRoleArn=string,BucketName=string,CompressionType=string</code> </p> <p>JSON syntax for these attributes is as follows: <code>{ \"ServiceAccessRoleArn\": \"string\", \"BucketName\": \"string\", \"CompressionType\": \"none\"|\"gzip\" } </code> </p>",
                                        "properties": {
                                            "BucketName": {
                                                "description": " The name of the S3 bucket to use. ",
                                                "type": "string"
                                            },
                                            "ServiceAccessRoleArn": {
                                                "description": " The IAM role that has permission to access the Amazon S3 bucket. ",
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "DynamoDbSettings": {
                                        "description": "Settings in JSON format for the target Amazon DynamoDB endpoint. For more information about the available settings, see <a href=\"http://docs.aws.amazon.com/dms/latest/userguide/CHAP_Target.DynamoDB.html\">Using Object Mapping to Migrate Data to DynamoDB</a> in the <i>AWS Database Migration Service User Guide.</i> ",
                                        "properties": {
                                            "ServiceAccessRoleArn": {
                                                "description": " The Amazon Resource Name (ARN) used by the service access IAM role. ",
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "ServiceAccessRoleArn"
                                        ],
                                        "type": "object"
                                    },
                                    "ElasticsearchSettings": {
                                        "description": "Settings in JSON format for the target Elasticsearch endpoint. For more information about the available settings, see <a href=\"http://docs.aws.amazon.com/dms/latest/userguide/CHAP_Target.Elasticsearch.html#CHAP_Target.Elasticsearch.Configuration\">Extra Connection Attributes When Using Elasticsearch as a Target for AWS DMS</a> in the <i>AWS Database Migration User Guide.</i> ",
                                        "properties": {
                                            "EndpointUri": {
                                                "description": "The endpoint for the ElasticSearch cluster.",
                                                "type": "string"
                                            },
                                            "ErrorRetryDuration": {
                                                "description": "The maximum number of seconds that DMS retries failed API requests to the Elasticsearch cluster.",
                                                "type": "integer"
                                            },
                                            "FullLoadErrorPercentage": {
                                                "description": "The maximum percentage of records that can fail to be written before a full load operation stops. ",
                                                "type": "integer"
                                            },
                                            "ServiceAccessRoleArn": {
                                                "description": "The Amazon Resource Name (ARN) used by service to access the IAM role.",
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "ServiceAccessRoleArn",
                                            "EndpointUri"
                                        ],
                                        "type": "object"
                                    },
                                    "EndpointIdentifier": {
                                        "description": "The database endpoint identifier. Identifiers must begin with a letter; must contain only ASCII letters, digits, and hyphens; and must not end with a hyphen or contain two consecutive hyphens.",
                                        "type": "string"
                                    },
                                    "EndpointType": {
                                        "description": "The type of endpoint.",
                                        "enum": [
                                            "source",
                                            "target"
                                        ],
                                        "type": "string"
                                    },
                                    "EngineName": {
                                        "description": "The type of engine for the endpoint. Valid values, depending on the <code>EndPointType</code> value, include <code>mysql</code>, <code>oracle</code>, <code>postgres</code>, <code>mariadb</code>, <code>aurora</code>, <code>aurora-postgresql</code>, <code>redshift</code>, <code>s3</code>, <code>db2</code>, <code>azuredb</code>, <code>sybase</code>, <code>dynamodb</code>, <code>mongodb</code>, and <code>sqlserver</code>.",
                                        "type": "string"
                                    },
                                    "ExternalTableDefinition": {
                                        "description": "The external table definition. ",
                                        "type": "string"
                                    },
                                    "ExtraConnectionAttributes": {
                                        "description": "Additional attributes associated with the connection.",
                                        "type": "string"
                                    },
                                    "KinesisSettings": {
                                        "description": "Settings in JSON format for the target Amazon Kinesis Data Streams endpoint. For more information about the available settings, see <a href=\"http://docs.aws.amazon.com/dms/latest/userguide/CHAP_Target.Kinesis.html#CHAP_Target.Kinesis.ObjectMapping \">Using Object Mapping to Migrate Data to a Kinesis Data Stream</a> in the <i>AWS Database Migration User Guide.</i> ",
                                        "properties": {
                                            "MessageFormat": {
                                                "description": "The output format for the records created on the endpoint. The message format is <code>JSON</code>.",
                                                "enum": [
                                                    "json"
                                                ],
                                                "type": "string"
                                            },
                                            "ServiceAccessRoleArn": {
                                                "description": "The Amazon Resource Name (ARN) for the IAM role that DMS uses to write to the Amazon Kinesis data stream.",
                                                "type": "string"
                                            },
                                            "StreamArn": {
                                                "description": "The Amazon Resource Name (ARN) for the Amazon Kinesis Data Streams endpoint.",
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "KmsKeyId": {
                                        "description": "The AWS KMS key identifier to use to encrypt the connection parameters. If you don't specify a value for the <code>KmsKeyId</code> parameter, then AWS DMS uses your default encryption key. AWS KMS creates the default encryption key for your AWS account. Your AWS account has a different default encryption key for each AWS Region.",
                                        "type": "string"
                                    },
                                    "MongoDbSettings": {
                                        "description": "Settings in JSON format for the source MongoDB endpoint. For more information about the available settings, see the configuration properties section in <a href=\"http://docs.aws.amazon.com/dms/latest/userguide/CHAP_Source.MongoDB.html\"> Using MongoDB as a Target for AWS Database Migration Service</a> in the <i>AWS Database Migration Service User Guide.</i> ",
                                        "properties": {
                                            "AuthMechanism": {
                                                "description": "<p> The authentication mechanism you use to access the MongoDB source endpoint.</p> <p>Valid values: DEFAULT, MONGODB_CR, SCRAM_SHA_1 </p> <p>DEFAULT – For MongoDB version 2.x, use MONGODB_CR. For MongoDB version 3.x, use SCRAM_SHA_1. This attribute is not used when authType=No.</p>",
                                                "enum": [
                                                    "default",
                                                    "mongodb_cr",
                                                    "scram_sha_1"
                                                ],
                                                "type": "string"
                                            },
                                            "AuthSource": {
                                                "description": "<p> The MongoDB database name. This attribute is not used when <code>authType=NO</code>. </p> <p>The default is admin.</p>",
                                                "type": "string"
                                            },
                                            "AuthType": {
                                                "description": "<p> The authentication type you use to access the MongoDB source endpoint.</p> <p>Valid values: NO, PASSWORD </p> <p>When NO is selected, user name and password parameters are not used and can be empty. </p>",
                                                "enum": [
                                                    "no",
                                                    "password"
                                                ],
                                                "type": "string"
                                            },
                                            "DatabaseName": {
                                                "description": " The database name on the MongoDB source endpoint. ",
                                                "type": "string"
                                            },
                                            "DocsToInvestigate": {
                                                "description": "<p> Indicates the number of documents to preview to determine the document organization. Use this attribute when <code>NestingLevel</code> is set to ONE. </p> <p>Must be a positive value greater than 0. Default value is 1000.</p>",
                                                "type": "string"
                                            },
                                            "ExtractDocId": {
                                                "description": "<p> Specifies the document ID. Use this attribute when <code>NestingLevel</code> is set to NONE. </p> <p>Default value is false. </p>",
                                                "type": "string"
                                            },
                                            "KmsKeyId": {
                                                "description": "The AWS KMS key identifier that is used to encrypt the content on the replication instance. If you don't specify a value for the <code>KmsKeyId</code> parameter, then AWS DMS uses your default encryption key. AWS KMS creates the default encryption key for your AWS account. Your AWS account has a different default encryption key for each AWS Region.",
                                                "type": "string"
                                            },
                                            "NestingLevel": {
                                                "description": "<p> Specifies either document or table mode. </p> <p>Valid values: NONE, ONE</p> <p>Default value is NONE. Specify NONE to use document mode. Specify ONE to use table mode.</p>",
                                                "enum": [
                                                    "none",
                                                    "one"
                                                ],
                                                "type": "string"
                                            },
                                            "Password": {
                                                "description": " The password for the user account you use to access the MongoDB source endpoint. ",
                                                "format": "password",
                                                "type": "string"
                                            },
                                            "Port": {
                                                "description": " The port value for the MongoDB source endpoint. ",
                                                "type": "integer"
                                            },
                                            "ServerName": {
                                                "description": " The name of the server on the MongoDB source endpoint. ",
                                                "type": "string"
                                            },
                                            "Username": {
                                                "description": "The user name you use to access the MongoDB source endpoint. ",
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "Password": {
                                        "description": "The password to be used to log in to the endpoint database.",
                                        "format": "password",
                                        "type": "string"
                                    },
                                    "Port": {
                                        "description": "The port used by the endpoint database.",
                                        "type": "integer"
                                    },
                                    "S3Settings": {
                                        "description": "Settings in JSON format for the target Amazon S3 endpoint. For more information about the available settings, see <a href=\"http://docs.aws.amazon.com/dms/latest/userguide/CHAP_Target.S3.html#CHAP_Target.S3.Configuring\">Extra Connection Attributes When Using Amazon S3 as a Target for AWS DMS</a> in the <i>AWS Database Migration Service User Guide.</i> ",
                                        "properties": {
                                            "BucketFolder": {
                                                "description": " An optional parameter to set a folder name in the S3 bucket. If provided, tables are created in the path &lt;bucketFolder&gt;/&lt;schema_name&gt;/&lt;table_name&gt;/. If this parameter is not specified, then the path used is &lt;schema_name&gt;/&lt;table_name&gt;/. ",
                                                "type": "string"
                                            },
                                            "BucketName": {
                                                "description": " The name of the S3 bucket. ",
                                                "type": "string"
                                            },
                                            "CompressionType": {
                                                "description": " An optional parameter to use GZIP to compress the target files. Set to GZIP to compress the target files. Set to NONE (the default) or do not use to leave the files uncompressed. ",
                                                "enum": [
                                                    "none",
                                                    "gzip"
                                                ],
                                                "type": "string"
                                            },
                                            "CsvDelimiter": {
                                                "description": " The delimiter used to separate columns in the source files. The default is a comma. ",
                                                "type": "string"
                                            },
                                            "CsvRowDelimiter": {
                                                "description": " The delimiter used to separate rows in the source files. The default is a carriage return (\\n). ",
                                                "type": "string"
                                            },
                                            "ExternalTableDefinition": {
                                                "description": " The external table definition. ",
                                                "type": "string"
                                            },
                                            "ServiceAccessRoleArn": {
                                                "description": " The Amazon Resource Name (ARN) used by the service access IAM role. ",
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "ServerName": {
                                        "description": "The name of the server where the endpoint database resides.",
                                        "type": "string"
                                    },
                                    "ServiceAccessRoleArn": {
                                        "description": " The Amazon Resource Name (ARN) for the service access role that you want to use to create the endpoint. ",
                                        "type": "string"
                                    },
                                    "SslMode": {
                                        "description": "The Secure Sockets Layer (SSL) mode to use for the SSL connection. The SSL mode can be one of four values: <code>none</code>, <code>require</code>, <code>verify-ca</code>, <code>verify-full</code>. The default value is <code>none</code>.",
                                        "enum": [
                                            "none",
                                            "require",
                                            "verify-ca",
                                            "verify-full"
                                        ],
                                        "type": "string"
                                    },
                                    "Tags": {
                                        "description": "Tags to be added to the endpoint.",
                                        "items": {
                                            "description": "<p/>",
                                            "properties": {
                                                "Key": {
                                                    "description": "A key is the required name of the tag. The string value can be from 1 to 128 Unicode characters in length and cannot be prefixed with \"aws:\" or \"dms:\". The string can only contain only the set of Unicode letters, digits, white-space, '_', '.', '/', '=', '+', '-' (Java regex: \"^([\\\\p{L}\\\\p{Z}\\\\p{N}_.:/=+\\\\-]*)$\").",
                                                    "type": "string"
                                                },
                                                "Value": {
                                                    "description": "A value is the optional value of the tag. The string value can be from 1 to 256 Unicode characters in length and cannot be prefixed with \"aws:\" or \"dms:\". The string can only contain only the set of Unicode letters, digits, white-space, '_', '.', '/', '=', '+', '-' (Java regex: \"^([\\\\p{L}\\\\p{Z}\\\\p{N}_.:/=+\\\\-]*)$\").",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "type": "array"
                                    },
                                    "Username": {
                                        "description": "The user name to be used to log in to the endpoint database.",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "EndpointIdentifier",
                                    "EndpointType",
                                    "EngineName"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreateEventSubscription": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p> Creates an AWS DMS event notification subscription. </p> <p>You can specify the type of source (<code>SourceType</code>) you want to be notified of, provide a list of AWS DMS source IDs (<code>SourceIds</code>) that triggers the events, and provide a list of event categories (<code>EventCategories</code>) for events you want to be notified of. If you specify both the <code>SourceType</code> and <code>SourceIds</code>, such as <code>SourceType = replication-instance</code> and <code>SourceIdentifier = my-replinstance</code>, you will be notified of all the replication instance events for the specified source. If you specify a <code>SourceType</code> but don't specify a <code>SourceIdentifier</code>, you receive notice of the events for that source type for all your AWS DMS sources. If you don't specify either <code>SourceType</code> nor <code>SourceIdentifier</code>, you will be notified of events generated from all AWS DMS sources belonging to your customer account.</p> <p>For more information about AWS DMS events, see <a href=\"http://docs.aws.amazon.com/dms/latest/userguide/CHAP_Events.html\">Working with Events and Notifications</a> in the <i>AWS Database Migration Service User Guide.</i> </p>",
                "operationId": "CreateEventSubscription",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "<p/>",
                                    "properties": {
                                        "EventSubscription": {
                                            "description": "The event subscription that was created.",
                                            "properties": {
                                                "CustSubscriptionId": {
                                                    "description": "The AWS DMS event notification subscription Id.",
                                                    "type": "string"
                                                },
                                                "CustomerAwsId": {
                                                    "description": "The AWS customer account associated with the AWS DMS event notification subscription.",
                                                    "type": "string"
                                                },
                                                "Enabled": {
                                                    "description": "Boolean value that indicates if the event subscription is enabled.",
                                                    "type": "boolean"
                                                },
                                                "EventCategoriesList": {
                                                    "description": "A lists of event categories.",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                },
                                                "SnsTopicArn": {
                                                    "description": "The topic ARN of the AWS DMS event notification subscription.",
                                                    "type": "string"
                                                },
                                                "SourceIdsList": {
                                                    "description": "A list of source Ids for the event subscription.",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                },
                                                "SourceType": {
                                                    "description": "<p> The type of AWS DMS resource that generates events. </p> <p>Valid values: replication-instance | replication-server | security-group | migration-task</p>",
                                                    "type": "string"
                                                },
                                                "Status": {
                                                    "description": "<p>The status of the AWS DMS event notification subscription.</p> <p>Constraints:</p> <p>Can be one of the following: creating | modifying | deleting | active | no-permission | topic-not-exist</p> <p>The status \"no-permission\" indicates that AWS DMS no longer has permission to post to the SNS topic. The status \"topic-not-exist\" indicates that the topic was deleted after the subscription was created.</p>",
                                                    "type": "string"
                                                },
                                                "SubscriptionCreationTime": {
                                                    "description": "The time the RDS event notification subscription was created.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ResourceQuotaExceededFault",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ResourceAlreadyExistsFault",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "SNSInvalidTopicFault",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "SNSNoAuthorizationFault",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "ResourceNotFoundFault",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "<p/>",
                                "properties": {
                                    "Enabled": {
                                        "description": " A Boolean value; set to <code>true</code> to activate the subscription, or set to <code>false</code> to create the subscription but not activate it. ",
                                        "type": "boolean"
                                    },
                                    "EventCategories": {
                                        "description": " A list of event categories for a source type that you want to subscribe to. You can see a list of the categories for a given source type by calling the <code>DescribeEventCategories</code> action or in the topic <a href=\"http://docs.aws.amazon.com/dms/latest/userguide/CHAP_Events.html\">Working with Events and Notifications</a> in the <i>AWS Database Migration Service User Guide.</i> ",
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "SnsTopicArn": {
                                        "description": " The Amazon Resource Name (ARN) of the Amazon SNS topic created for event notification. The ARN is created by Amazon SNS when you create a topic and subscribe to it. ",
                                        "type": "string"
                                    },
                                    "SourceIds": {
                                        "description": " The list of identifiers of the event sources for which events will be returned. If not specified, then all sources are included in the response. An identifier must begin with a letter and must contain only ASCII letters, digits, and hyphens; it cannot end with a hyphen or contain two consecutive hyphens. ",
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "SourceType": {
                                        "description": "<p> The type of AWS DMS resource that generates the events. For example, if you want to be notified of events generated by a replication instance, you set this parameter to <code>replication-instance</code>. If this value is not specified, all events are returned. </p> <p>Valid values: replication-instance | migration-task</p>",
                                        "type": "string"
                                    },
                                    "SubscriptionName": {
                                        "description": "<p>The name of the AWS DMS event notification subscription. </p> <p>Constraints: The name must be less than 255 characters. </p>",
                                        "type": "string"
                                    },
                                    "Tags": {
                                        "description": "A tag to be attached to the event subscription.",
                                        "items": {
                                            "description": "<p/>",
                                            "properties": {
                                                "Key": {
                                                    "description": "A key is the required name of the tag. The string value can be from 1 to 128 Unicode characters in length and cannot be prefixed with \"aws:\" or \"dms:\". The string can only contain only the set of Unicode letters, digits, white-space, '_', '.', '/', '=', '+', '-' (Java regex: \"^([\\\\p{L}\\\\p{Z}\\\\p{N}_.:/=+\\\\-]*)$\").",
                                                    "type": "string"
                                                },
                                                "Value": {
                                                    "description": "A value is the optional value of the tag. The string value can be from 1 to 256 Unicode characters in length and cannot be prefixed with \"aws:\" or \"dms:\". The string can only contain only the set of Unicode letters, digits, white-space, '_', '.', '/', '=', '+', '-' (Java regex: \"^([\\\\p{L}\\\\p{Z}\\\\p{N}_.:/=+\\\\-]*)$\").",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "SubscriptionName",
                                    "SnsTopicArn"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreateReplicationInstance": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Creates the replication instance using the specified parameters.",
                "operationId": "CreateReplicationInstance",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "<p/>",
                                    "example": {
                                        "ReplicationInstance": {
                                            "AllocatedStorage": 5,
                                            "AutoMinorVersionUpgrade": true,
                                            "EngineVersion": "1.5.0",
                                            "KmsKeyId": "arn:aws:kms:us-east-1:123456789012:key/4c1731d6-5435-ed4d-be13-d53411a7cfbd",
                                            "PendingModifiedValues": {},
                                            "PreferredMaintenanceWindow": "sun:06:00-sun:14:00",
                                            "PubliclyAccessible": true,
                                            "ReplicationInstanceArn": "arn:aws:dms:us-east-1:123456789012:rep:6UTDJGBOUS3VI3SUWA66XFJCJQ",
                                            "ReplicationInstanceClass": "dms.t2.micro",
                                            "ReplicationInstanceIdentifier": "test-rep-1",
                                            "ReplicationInstanceStatus": "creating",
                                            "ReplicationSubnetGroup": {
                                                "ReplicationSubnetGroupDescription": "default",
                                                "ReplicationSubnetGroupIdentifier": "default",
                                                "SubnetGroupStatus": "Complete",
                                                "Subnets": [
                                                    {
                                                        "SubnetAvailabilityZone": {
                                                            "Name": "us-east-1d"
                                                        },
                                                        "SubnetIdentifier": "subnet-f6dd91af",
                                                        "SubnetStatus": "Active"
                                                    },
                                                    {
                                                        "SubnetAvailabilityZone": {
                                                            "Name": "us-east-1b"
                                                        },
                                                        "SubnetIdentifier": "subnet-3605751d",
                                                        "SubnetStatus": "Active"
                                                    },
                                                    {
                                                        "SubnetAvailabilityZone": {
                                                            "Name": "us-east-1c"
                                                        },
                                                        "SubnetIdentifier": "subnet-c2daefb5",
                                                        "SubnetStatus": "Active"
                                                    },
                                                    {
                                                        "SubnetAvailabilityZone": {
                                                            "Name": "us-east-1e"
                                                        },
                                                        "SubnetIdentifier": "subnet-85e90cb8",
                                                        "SubnetStatus": "Active"
                                                    }
                                                ],
                                                "VpcId": "vpc-6741a603"
                                            }
                                        }
                                    },
                                    "properties": {
                                        "ReplicationInstance": {
                                            "description": "The replication instance that was created.",
                                            "properties": {
                                                "AllocatedStorage": {
                                                    "description": "The amount of storage (in gigabytes) that is allocated for the replication instance.",
                                                    "type": "integer"
                                                },
                                                "AutoMinorVersionUpgrade": {
                                                    "description": "Boolean value indicating if minor version upgrades will be automatically applied to the instance.",
                                                    "type": "boolean"
                                                },
                                                "AvailabilityZone": {
                                                    "description": "The Availability Zone for the instance.",
                                                    "type": "string"
                                                },
                                                "DnsNameServers": {
                                                    "description": "The DNS name servers for the replication instance.",
                                                    "type": "string"
                                                },
                                                "EngineVersion": {
                                                    "description": "The engine version number of the replication instance.",
                                                    "type": "string"
                                                },
                                                "FreeUntil": {
                                                    "description": " The expiration date of the free replication instance that is part of the Free DMS program. ",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "InstanceCreateTime": {
                                                    "description": "The time the replication instance was created.",
                                                    "format": "date-time",
                                                    "type": "string"
                                                },
                                                "KmsKeyId": {
                                                    "description": "The AWS KMS key identifier that is used to encrypt the content on the replication instance. If you don't specify a value for the <code>KmsKeyId</code> parameter, then AWS DMS uses your default encryption key. AWS KMS creates the default encryption key for your AWS account. Your AWS account has a different default encryption key for each AWS Region.",
                                                    "type": "string"
                                                },
                                                "MultiAZ": {
                                                    "description": " Specifies if the replication instance is a Multi-AZ deployment. You cannot set the <code>AvailabilityZone</code> parameter if the Multi-AZ parameter is set to <code>true</code>. ",
                                                    "type": "boolean"
                                                },
                                                "PendingModifiedValues": {
                                                    "description": "The pending modification values.",
                                                    "properties": {
                                                        "AllocatedStorage": {
                                                            "description": "The amount of storage (in gigabytes) that is allocated for the replication instance.",
                                                            "type": "integer"
                                                        },
                                                        "EngineVersion": {
                                                            "description": "The engine version number of the replication instance.",
                                                            "type": "string"
                                                        },
                                                        "MultiAZ": {
                                                            "description": " Specifies if the replication instance is a Multi-AZ deployment. You cannot set the <code>AvailabilityZone</code> parameter if the Multi-AZ parameter is set to <code>true</code>. ",
                                                            "type": "boolean"
                                                        },
                                                        "ReplicationInstanceClass": {
                                                            "description": "<p>The compute and memory capacity of the replication instance.</p> <p> Valid Values: <code>dms.t2.micro | dms.t2.small | dms.t2.medium | dms.t2.large | dms.c4.large | dms.c4.xlarge | dms.c4.2xlarge | dms.c4.4xlarge </code> </p>",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "PreferredMaintenanceWindow": {
                                                    "description": "The maintenance window times for the replication instance.",
                                                    "type": "string"
                                                },
                                                "PubliclyAccessible": {
                                                    "description": " Specifies the accessibility options for the replication instance. A value of <code>true</code> represents an instance with a public IP address. A value of <code>false</code> represents an instance with a private IP address. The default value is <code>true</code>. ",
                                                    "type": "boolean"
                                                },
                                                "ReplicationInstanceArn": {
                                                    "description": "The Amazon Resource Name (ARN) of the replication instance.",
                                                    "type": "string"
                                                },
                                                "ReplicationInstanceClass": {
                                                    "description": "<p>The compute and memory capacity of the replication instance.</p> <p> Valid Values: <code>dms.t2.micro | dms.t2.small | dms.t2.medium | dms.t2.large | dms.c4.large | dms.c4.xlarge | dms.c4.2xlarge | dms.c4.4xlarge </code> </p>",
                                                    "type": "string"
                                                },
                                                "ReplicationInstanceIdentifier": {
                                                    "description": "<p>The replication instance identifier. This parameter is stored as a lowercase string.</p> <p>Constraints:</p> <ul> <li> <p>Must contain from 1 to 63 alphanumeric characters or hyphens.</p> </li> <li> <p>First character must be a letter.</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens.</p> </li> </ul> <p>Example: <code>myrepinstance</code> </p>",
                                                    "type": "string"
                                                },
                                                "ReplicationInstancePrivateIpAddress": {
                                                    "description": "The private IP address of the replication instance.",
                                                    "type": "string"
                                                },
                                                "ReplicationInstancePrivateIpAddresses": {
                                                    "description": "The private IP address of the replication instance.",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                },
                                                "ReplicationInstancePublicIpAddress": {
                                                    "description": "The public IP address of the replication instance.",
                                                    "type": "string"
                                                },
                                                "ReplicationInstancePublicIpAddresses": {
                                                    "description": "The public IP address of the replication instance.",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                },
                                                "ReplicationInstanceStatus": {
                                                    "description": "The status of the replication instance.",
                                                    "type": "string"
                                                },
                                                "ReplicationSubnetGroup": {
                                                    "description": "The subnet group for the replication instance.",
                                                    "properties": {
                                                        "ReplicationSubnetGroupDescription": {
                                                            "description": "The description of the replication subnet group.",
                                                            "type": "string"
                                                        },
                                                        "ReplicationSubnetGroupIdentifier": {
                                                            "description": "The identifier of the replication instance subnet group.",
                                                            "type": "string"
                                                        },
                                                        "SubnetGroupStatus": {
                                                            "description": "The status of the subnet group.",
                                                            "type": "string"
                                                        },
                                                        "Subnets": {
                                                            "description": "The subnets that are in the subnet group.",
                                                            "items": {
                                                                "description": "<p/>",
                                                                "properties": {
                                                                    "SubnetAvailabilityZone": {
                                                                        "description": "The Availability Zone of the subnet.",
                                                                        "properties": {
                                                                            "Name": {
                                                                                "description": "The name of the availability zone.",
                                                                                "type": "string"
[...]
